<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
    <title>@ViewBag.Title - Bienvenidos</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-expanded="true">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               @Html.ActionLink("ContratosApp", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li> @Html.ActionLink("Mis Contratos", "Index", "Contratos")</li>
                    <li> @Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li> @Html.ActionLink("Contacto", "Contact", "Home")</li>
               
                </ul>
                </div>
            </div>
        </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        
            <footer id="footer" class="container-fluid text-center bg-4">
                <p>© 2017 ContratosApp.com - Todos los Derechos Reservados.</p>
            </footer>    
       
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
