@model IEnumerable<ContratosApp.Models.Contrato>
@using ContratosApp.ViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Mis Contratos</h2>

<p>
    <!--@Html.ActionLink("Nuevo Contrato", "CreateVM", "ContratoVMController")-->
    <a href="@Url.Action("CreateVM", "ContratoVM")">Nuevo Contrato</a>
</p>
<p>
    @Html.ActionLink("Buscar Contrato", "Buscar")
</p>
<table class="table">
    <tr>
        <th colspan="4"><strong>Contrato</strong></th>
        <th colspan="3"><strong>Locador</strong></th>
        <th colspan="3"><strong>Locatario</strong></th>
        <th colspan="3"><strong>Garante</strong></th>
        <th colspan="4"></th>
    </tr>

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreContrato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Propiedades.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Locador.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Locador.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Locador.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Locatario.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Locatario.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Locatario.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Garante.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Garante.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Garante.PhoneNumber)
        </th>
        <th></th>
    </tr>
        

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreContrato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Propiedades.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaFinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Locador.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Locador.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Locador.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Locatario.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Locatario.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Locatario.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Garante.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Garante.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Garante.PhoneNumber)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ContratoID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ContratoID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ContratoID })
        </td>
    </tr>
}

</table>
